* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  min-height: 100vh;
}

.app {
  width: 400px;
  height: 500px;
  background: url(weather.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 3px 17px rgba(0, 0, 0, 0.664);
  border-radius: 10px;
}

.app .search {
  text-align: center;
  padding: 0.6rem 0;
}

.search input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  color: #000;
  font-size: 1.2rem;
}

.app .container {
  padding: 10px;
  border-radius: 10px;
}

p {
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.top .city p {
  padding: 0 0 20px 0;
  font-size: 32px;
}

.top .temp h1 {
  padding-bottom: 20px;
}

.top .desc p {
  font-size: 32px;
}

.container .bottom {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  margin: 1rem -1.5rem;
  padding: 1rem;
  width: 100%;
}

.bottom p {
  font-size: 18px;
}

.bottom .feels,
.bottom .humidity,
.bottom .wind {
  border-bottom: 2px solid rgb(177, 177, 177);
}
